
/* タイトル（お知らせ一覧） */
#archive .title {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#archive .title::before,
#archive .title::after {
    background-color:#B8A36C;
    content: "";
    flex-grow: 1;
    height: 2px;
    margin: 0 20px;
}

@media screen and (max-width: 375px) {
    #archive .title {
        font-size: 25px;
        margin-bottom: 20px;
    }
}

/* 絞り込みボタン */
#archive .filter {
    display: flex;
    justify-content: center;
}

#archive .filter button {
    background-color: white;
    border: 1px #B8A36C solid;
    border-radius: 5px;
    padding: 7px 15px;
    margin-right: 10px;
}

@media screen and (max-width: 375px) {
    #archive .filter {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }

    #archive .filter button {
        background-color: white;
        border: 1px #B8A36C solid;
        border-radius: 5px;
        padding: 7px 12px;
        margin-top: 10px;
        font-size: 9px;
    }

}

#archive .filter button:hover {
    background-color: #B8A36C;
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#archive .filter {
    margin-bottom: 50px;
}

/* 絞り込みボタンが選択されていたら */
#archive .filter .is-on {
    background-color: #B8A36C;
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}



/* 記事を表示 */
#archive .article-boxs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* 記事下部の色 */
#archive .under-color {
    background-color: #EAB5D7;

    height: 374px;
    width: 360px;
    margin: 25px 45px;
    border-radius: 5px;
}

#archive .article-box{
    height: 365px;
    width: 360px;
    background-color: white;
    overflow-wrap: normal;
    position: relative;
    color: black;
    

}


#archive .article-img{
    width: 359px;
    height: 222px;
}

@media screen and (max-width: 375px) {
    #archive .under-color {
        height: 320px;
        width: 360px;
        margin: 25px 45px;
        border-radius: 5px;
    }

    #archive .article-box{
    height: 365px;
    width: 360px;
    background-color: white;
    overflow-wrap: normal;
    position: relative;
    color: black;
    
    }

    #archive .article-img{
    width: 359px;
    height: 222px;
    }

}
 

#archive .article-info{
    display: flex;
    margin-bottom: 0;
    position: absolute;
    top: 320px;
    width: 100%;

} 
#archive .article-title {
    margin: 20px;
}
#archive .article-title:hover {
    color:#B8A36C;
}

#archive .article-title a{
    text-decoration: none;
}

/* 投稿日時の表示 */
#archive .article-time {
    margin: 10px;
    color: rgba(0, 0, 0, 0.43);
}

/* カテゴリーの表示 */
#archive .category {
    margin: 10px;
    margin-left: auto;
    color: black;
}

#archive .category a{
    text-decoration: none;
}

/* ページネーション */
#archive .pagination {
    display: inline-block;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;

}

#archive .page-numbers {
    margin: 0 5px;
}

#archive .pagination .page-numbers:not(.current, .next.page-numbers){
    color: #B8A36C;
    /* float: left; */
    padding: 16px 22px;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

}


/* 現在のページ */
#archive .pagination .current {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 30px;
    color: black;
    padding: 16px 22px;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}


#archive .pagination .page-numbers:not(.prev):hover, .page-numbers:not(.next):hover {
    background-color: #ddd;
    border-radius: 10px;

}

/* 次のページ、前のページへのボタン */

#archive .pagination .next.page-numbers, .prev.page-numbers{
    background-color: white;
    border:#B8A36C 1px solid;
    text-align:center;
    border-radius: 10px;
    text-decoration: none;
    padding: 0 50px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}
