@charset 'utf-8';
/* 背景色 */
body{
    background-color: #F7F5F1;
    font-family: "Sawarabi Mincho", serif;
}

#archive h1 {
    color: rgb(0, 0, 0);
    display: inline;
}
/* 線について */
hr {
    border: none;
    height: 1px;
    background-color:#B8A36C;
}
.borders{
    margin: 30px 0;
}

/* 一覧に戻るボタン */
#single-article .back-to-list{
    display:block;
    width: 100px;
    color: black;
    text-decoration: none;
    background-color: transparent;
    border: 1px #B8A36C solid;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}

#single-article .back-color{
    color: #B8A36C;
}

/* 画像 */
#single-article .article-img{
    display: block;
    margin: auto;
}

/* 記事の内容（タイトル、投稿日時、タグ、内容） */
#single-article .content-title{
    font-size: 40px;
}

#single-article .article-content{
    margin: 20px 20%;
}

#single-article .content-flex{
    display: flex;
}

#single-article .content-time{
    bottom: 0;
    padding: 55px 0px 0px 80px;
}
#single-article .content-category{
    margin-bottom: 45px;
    font-size: 24px;
}

#single-article .content-category a{
    text-decoration: none;
}
#single-article .the-content{
    margin: 50px 0px;
}

/* 次の記事・前の記事へのリンク */
#single-article .navbar {
    display: flex;
    justify-content: center;
    gap: 20%;
}

#single-article .box-color {
    background-color: #EAB5D7;
    width: 250px;
    height: 260px;
}

#single-article .box-color a {
    text-decoration: none;
}

#single-article .box {
    background-color: white;
    width: 100%;
    height: 250px;
}

#single-article .box-title {
    margin: 10px;
}


#single-article .next-text {
    text-align: right;
}

#single-article .links {
    height: 100px;
    margin: 0px 40px;
}

#single-article .navPrev {
    display: flex;
    align-items: center;
}
#single-article .navNext {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
/* 前・次のサムネイル画像 */
#single-article .nav_thumbnail {
    width: 100%;
    height: 165px;
}

#single-article .nav_category {
    text-align: right;
}
#single-article .nav_category_text {
    color: black;
    font-size: 13px;
}

#single-article .nav_time {
    font-size: 11px;
    color: grey;
}

